<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <style>
        .input {
            width: 50%;
        }
    </style>

    <title><%= title %></title>
</head>

<body>
    <nav class="navbar" style="background: blue;" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="tabs is-large">
                <a href="/">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV5nyBspTX9fE7joIYpK-1sPcplcNe-a7ErQ&usqp=CAU"
                        width="120" height="320">
                </a>
                <a href="/" style="color: black;">
                    <span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span>
                    <span>Home</span>
                </a>
                <a href="/players" style="color: black;">
                    <span class="icon is-small"><i class="fas fa-futbol" aria-hidden="true"></i></span>
                    <span>Players</span>
                </a>
                <a href="/nations" style="color: black;">
                    <span class="icon is-small"><i class="fas fa-flag" aria-hidden="true"></i></span>
                    <span>Nations</span>
                </a>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons is-right">
                        <div class="dropdown is-hoverable" style="color: black;">
                            <div class="dropdown-trigger">
                                <i class="fa fa-user" aria-haspopup="true" aria-controls="dropdown-menu"
                                    aria-hidden="true"></i>
                                <span>Nguyen Huynh Truc Nhu</span>
                            </div>
                            <div class="dropdown-menu notification is-primary is-light" id="dropdown-menu" role="menu">
                                <span>Welcome!</span>
                                <div class="dropdown-menu-min-width">
                                    <a href="/users" class="dropdown-item fa fa-user">
                                        My profile
                                    </a>
                                    <a class="dropdown-item fa fa-key">
                                        Chang password
                                    </a>
                                    <a class="dropdown-item" style="background-color: red; color: white;"
                                        href="/users/login">
                                        <%= button %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="column">
        <form method="post">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-info" name="name" type="text" placeholder="e.g. Vietnam"
                                value="<%= nation.name %>" required>
                            <input name="ensign" type="text" value="<%= nation.ensign %>" readonly hidden>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Description</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-info" name="description" type="text"
                                placeholder="Some description about this country" value="<%= nation.description %>" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal"></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">
                                Save
                            </button>
                            <a href="/nations"><button class="button" type="button">
                                    Back
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>