<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV5nyBspTX9fE7joIYpK-1sPcplcNe-a7ErQ&usqp=CAU");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="bg">
        <div class="row">
            <div class="col-md-5 mx-auto" style="margin-top: 20vh">
                <div id="first">
                    <article class="message is-link">
                        <div class="message-header">
                            <div class="col-md-12 text-center">
                                <h1>Forgot Password</h1>
                            </div>
                        </div>
                        <div class="message-body">
                            <form method="post" name="forgot-password">
                                <div class="form-group">
                                    <label class="<%= icon %>" for="email">
                                        <%= label %>
                                    </label>
                                    <input type="<%= paramName %>" name="<%= paramName %>" class="form-control"
                                        id="<%= paramName %>" required aria-describedby="emailHelp"
                                        placeholder="<%= label %>" />
                                </div>
                                <div class="form-group" <%=label.includes('Email') ? 'hidden' : '' %>>
                                    <label class="<%= icon %>" for="email">
                                        Confirm <%= label %></label>
                                    <input type="<%= paramName %>" name="confirm-<%= paramName %>" class="form-control"
                                        id="confirm-<%= paramName %>" required aria-describedby="emailHelp"
                                        placeholder="Confirm <%= label %>" />
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" onclick="checkPasswords(event)"
                                        class="btn btn-block mybtn btn-primary tx-tfm">
                                        <%= button %>
                                    </button>
                                </div>
                            </form>
                            <div class="form-group">
                                <p class="text-center">
                                    Remembered your password?
                                    <a href="/login" style="color: red">Login here</a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <script>
        function checkPasswords(event) {
            event.preventDefault();

            const email = document.getElementById('email')?.value;
            const password = document.getElementById('password')?.value;
            const confirmPassword = document.getElementById('confirm-password')?.value;

            if (!email && document.getElementById('email')) {
                alert('Please enter your email');
                return false;
            }

            if ((!password || !confirmPassword) && document.getElementById('password')) {
                alert("Please fill in both password fields.");
                return false;
            }

            if ((password !== confirmPassword) && document.getElementById('password')) {
                alert("Password does not match. Please try again.");
                return false;
            }

            // passwords match and both fields are non-empty, submit form
            document.querySelector('form').submit();
        }
    </script>
</body>

</html>