<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <title><%= title %></title>
</head>

<body>
    <nav class="navbar" style="background: blue;" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="tabs is-large">
                <a href="/">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV5nyBspTX9fE7joIYpK-1sPcplcNe-a7ErQ&usqp=CAU"
                        width="120" height="320">
                </a>
                <a href="/" style="color: black;">
                    <span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span>
                    <span>Home</span>
                </a>
                <a href="/players" style="color: black;">
                    <span class="icon is-small"><i class="fas fa-futbol" aria-hidden="true"></i></span>
                    <span>Players</span>
                </a>
                <a href="/nations" style="color: black;">
                    <span class="icon is-small"><i class="fas fa-flag" aria-hidden="true"></i></span>
                    <span>Nations</span>
                </a>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons is-right">
                        <div class="dropdown is-hoverable" style="color: black;">
                            <div class="dropdown-trigger">
                                <i class="fa fa-user" aria-haspopup="true" aria-controls="dropdown-menu"
                                    aria-hidden="true"></i>
                                <span>Nguyen Huynh Truc Nhu</span>
                            </div>
                            <div class="dropdown-menu notification is-primary is-light" id="dropdown-menu" role="menu">
                                <span>Welcome!</span>
                                <div class="dropdown-menu-min-width">
                                    <a href="/users" class="dropdown-item fa fa-user">
                                        My profile
                                    </a>
                                    <a class="dropdown-item fa fa-key">
                                        Chang password
                                    </a>
                                    <a class="dropdown-item" style="background-color: red; color: white;"
                                        href="/users/login">
                                        <%= button %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="notification is-link is-light" style="background-color: rgb(205, 223, 247);">
        <!-- <div class="field is-horizontal notification">
            <label class="label" style="margin-left: 12px;">Show</label>
            <select name="pageSize" style="margin-left: 12px; padding-bottom: 4px; padding-left: 4px;">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
            <label class="label" style="margin-left: 12px;">nations</label>
        </div> -->
        <div class="buttons is-right">
            <button class="button is-primary" style="background-color: green; color: white;" onclick="openPopup()">
                Add
            </button>
        </div>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Ensign</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th <%= isAdmin %>>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% nations.forEach(function(nation){ %>
                <tr>
                    <td>
                        <figure class="image is-64x64">
                            <img src=<%= nation.ensign %>>
                        </figure>
                    </td>
                    <td><%= nation.name %></td>
                    <td><%= nation.description %></td>
                    <td <%= isAdmin %>>
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <i class="fa fa-bars" aria-haspopup="true" aria-controls="dropdown-menu"
                                    aria-hidden="true"></i>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="/nations/edit/<%= nation.id %>" class="dropdown-item"
                                        style="background-color: green; color: white;">
                                        Edit
                                    </a>
                                    <a href="/nations/delete/<%= nation.id %>" class="dropdown-item"
                                        style="background-color: red; color: white"
                                        onclick="return confirm('Are you sure to delete?')">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <% })%>
            </tbody>
        </table>
    </div>
    <div id="popup" class="modal">
        <div class="modal-background" onclick="closePopup()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add Nation</p>
                <button class="delete" aria-label="close" style="background-color: red;"
                    onclick="closePopup()"></button>
            </header>
            <section class="modal-card-body">
                <form id="newNationForm" method="post">
                    <div class="field">
                        <label class="label" for="name">Name:</label>
                        <div class="control">
                            <input class="input" type="text" id="name" name="name" placeholder="e.g. Vietnam" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="description">Description:</label>
                        <div class="control">
                            <input class="input" type="text" id="description" name="description"
                                placeholder="Say somthing about this country" required>
                        </div>
                    </div>
                    <!-- <button class="button is-success">Add</button>
                    <button class="button" onclick="closePopup()">Cancel</button> -->
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" onclick="submitForm()">Add</button>
                <button class="button" onclick="closePopup()">Cancel</button>
            </footer>
        </div>
    </div>

    <script>
        function openPopup() {
            document.getElementById("popup").classList.add("is-active");
        }

        function closePopup() {
            document.getElementById("popup").classList.remove("is-active");
        }

        function submitForm() {
            var formData = new FormData(document.getElementById('newNationForm'));
            var nation = {
                ensign: '',
                name: formData.get('name'),
                description: formData.get('description')
            }

            console.log(nation.ensign);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/nations', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(nation));

            closePopup();

            location.reload();
        }
    </script>

</body>

</html>